#! /usr/bin/bash

# SELECT META OR PREMIUM
use_premium="false"

# TUN DEVICE
if [ "${use_premium}" == "true" ]; then
    tun_device="utun"
else
    tun_device="Meta"
fi

# DIRECTORY CLASH & FILE
Clash_bin_name="clash"
Clash_data_dir="/.config/clash"
# DIRECTORY KERNEL CLASH
Clash_bin_path="/.config/clash/core/${Clash_bin_name}"
# LIB CORE
Clash_Premium="/.config/clash/core/Clash.Premium"
Clash_Meta="/.config/clash/core/Clash.Meta"

# INTERNET IPV4 & IPV6
reserved_ip=(0.0.0.0/8 10.0.0.0/8 100.64.0.0/10 127.0.0.0/8 169.254.0.0/16 172.16.0.0/12 192.0.0.0/24 192.0.2.0/24 192.88.99.0/24 192.168.0.0/16 198.51.100.0/24 203.0.113.0/24 224.0.0.0/4 233.252.0.0/24 240.0.0.0/4 255.255.255.255/32)
reserved_ip6=(::/128 ::1/128 ::ffff:0:0/96 100::/64 64:ff9b::/96 2001::/32 2001:10::/28 2001:20::/28 2001:db8::/32 2002::/16 fc00::/7 fe80::/10 ff00::/8)